.back {
  margin: 30px auto;
    max-width: 1000px;
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: sans-serif;}


.box {
  width: calc(20%);
  margin: 20px 20px;
  background: #cfcece;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  line-height: 200px;
}


.blue {
  background-color: rgba(56, 207, 248, 0.5);
}


.scalex {
  transform: scalex(1);
  transition: transform 0.5s ease;
}


.box:hover .scalex {
  transform: scalex(2);
  }
.red{background-color: rgba(255, 0, 0, 0.603);}
  .scaleY{transform: scaleY(1);
  transition: all 1s ease;}

  .box:hover .scaleY{transform: scaleY(2);}


  .scale{transform: scale(1);
  transition: all 1s ease;}

  .box:hover .scale{transform: scale(2);}

.green{background-color: rgba(0, 128, 0, 0.521);}



.translateX {transform: translateX(1);
  transition: all 1s ease;}

  .box:hover .translateX{transform: translateX(4em);}

.dark{background-color: rgba(0, 19, 128, 0.521);}


.translateY{transform:translateY(1);
  transition: all 1s ease;}

  .box:hover .translateY{transform: translateY(4em);}

.yellow{background-color: rgba(255, 239, 13, 0.596);}


.translate{transform: translate(1);
  transition: transform 1s ease;}

  .box:hover .translate{transform: translate(4em);}

.pink{background-color: rgba(255, 7, 222, 0.555);}


.matrix {
  transform: matrix(1, 1, 1, 1);
  transition: transform 0.5s ease;
}

.box:hover .matrix {
  transform: matrix(1, -1, 0, 1, 0, 0);
}

.a{background-color: rgba(0, 255, 255, 0.582);}

.rotate {
  transform: rotate(0);
  transition: transform 0.5s ease;
}

.box:hover .rotate {
  transform: rotate(270deg);
}
.b{background-color: chartreuse;}

.skew {
  transform: skew(1, 1);
  transition: transform 0.5s ease;
}

.box:hover .skew {
  transform: skew(30deg, 20deg);



}
.c{background-color: rgb(0, 26, 255);}


.skewX {
  transform: skewX(1);
  transition: transform 0.5s ease;
}

.box:hover .skewX {
  transform: skewX(30deg);

}
.d{background-color: rgb(255, 0, 0);}


.skewY {
  transform: skewY(1);
  transition: transform 0.5s ease;
}

.box:hover .skewY {
  transform: skewY(30deg);

}
.e{background-color: rgb(0, 255, 106);}

.matrix3d {
  transform: matrix3d(1);
  transition: transform 0.5s ease;
}

.box:hover .matrix3d {
  transform: matrix3d(0.8535533905932737, 0.4999999999999999, 0.14644660940672619, 0, -0.4999999999999999, 0.7071067811865476, 0.4999999999999999, 0, 0.14644660940672619, -0.4999999999999999, 0.8535533905932737, 0, 22.62994231491119, -20.3223304703363, 101.3700576850888, 1)
}
.f{background-color: rgb(255, 251, 0);}

.translate3d {
  transform: translate3d(1px, 1px, 1);
  transition: transform 0.5s ease;
}

.box:hover .translate3d {
  transform: translate3d(1px, 1px, 50px) rotate3d(3, 2, 2, 90deg);

}
.g{background-color: rgb(255, 123, 0);}

.rotateY {
  transform: perspective(1) scaleZ(1) rotateY(0deg);
  transition: transform 0.5s ease;
}

.box:hover .rotateY {
  transform: perspective(500px) scaleZ(2) rotateY(45deg);

}
.h{background-color: rgb(174, 0, 255);}

.rotateX {
  transform: perspective(1) scaleZ(1) rotateX(0deg);
  transition: transform 0.5s ease;
}

.box:hover .rotateX {
  transform: perspective(500px) scaleZ(2) rotateX(45deg);

}
.i{background-color: rgb(255, 0, 200);}

.translateZ {
  transform: translateZ(1px);
  transition: transform 0.5s ease;
}

.box:hover .translateZ {
  transform: rotate3d(3, 2, 2, 90deg) translateZ(50px);

}
.j{background-color: rgb(0, 0, 0);}
